<template>
    <div>
      <v-autocomplete
              id="search"
              v-model="select"
              v-bind:loading="loading"
              v-bind:items="results"
              v-bind:search-input.sync="query"
              item-text="name"
              item-value="scryfall_id"
              placeholder="Start typing to Search"
              label="Card Search"
              hide-no-data
              auto-select-first
              autofocus
              flat
              dense
              no-filter
      ></v-autocomplete>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <DeckbuilderCard v-on:remove_card="removeCard(card.scryfall_id)" v-for="card of deck.cards" :key="card.name" v-bind:card="card"></DeckbuilderCard>
        </v-layout>
      </v-container>
    </div>
</template>

<script>
  import axios from 'axios';
  import lodash from 'lodash';
  import { VAutocomplete } from 'vuetify/lib';

  import DeckbuilderCard from './DeckbuilderCard'
  // import * as $route from "vue-router";

  const Deckbuilder =  {
    name: 'Deckbuilder',
    components: { VAutocomplete, DeckbuilderCard },
    data: function() {
      return {
        query: null,
        results: [],
        loading: false,
        select: null,
        deck: {
          name: null,
          cards: []
        }
      }
    },
    watch: {
      query (val) { val && val !== this.select && this.queryScryfall() },
      select (val) { val && this.addCard(val) }
    },
    created() {
        this.deck.name = this.$route.params.name;
      this.queryScryfall = lodash.debounce(this.queryScryfall, 300);
      axios.get('http://localhost:5000/decks/' + this.deck.name)
              .then(response => this.deck.cards = response.data.cards)
              .catch(error => {
                  if (error.response && error.response.status === 404) {this.createDeck(this.deck.name);} else {console.log(error)}
              })
    },
    methods: {
      createDeck(name) {
          axios.post('http://localhost:5000/decks/' + name)
              .then(response => this.deck = response.data)
              .catch(error => console.log(error))
      },
      queryScryfall() {
        if (this.query) {
          axios.get('http://localhost:5000/autocomplete', {params: {query: this.query}})
                  .then(response => this.results = response.data)
                  .catch(error => console.log(error));
        }
      },
      addCard(id) {
        axios.post('http://localhost:5000/decks/' + this.deck.name + "/add", {"cards": [id]})
                .then(response => {console.log(response); this.deck = response.data})
                .catch(error => console.log(error));
      },
      removeCard(id) {
        axios.post('http://localhost:5000/decks/' + this.deck.name + "/remove", {"cards": [id]})
                .then(response => {console.log(response); this.deck = response.data})
                .catch(error => console.log(error));
      }
    }
  };
  export default Deckbuilder;
</script>
