<template>
    <v-flex xs6 md4 lg2>
        <a v-bind:href="card.scryfall_uri" target="_blank">
            <v-img v-bind:src="card.image_normal" v-bind:alt="card.name"></v-img>
        </a>
        <v-btn fab dark small top right color="primary" v-on:click="$emit('remove_card', card.name)">
            <v-icon dark>remove</v-icon>
        </v-btn>
    </v-flex>
</template>

<script>
    const DeckbuilderCard = {
        name: "DeckbuilderCard",
        props: ["card"],
    };
    export default DeckbuilderCard;
</script>
