<template>
    <v-content>
        <v-text-field label="Deck" v-model="deck_name" solo></v-text-field>
      <router-link v-bind:to="deck_link">Go to Deck</router-link>
    </v-content>
</template>

<script>
    import { VTextField } from 'vuetify/lib';

    export default {
        data() {
            return {
                deck_name: ""
            }
        },
        computed: {
            deck_link() {
                return "/deck/" + this.deck_name;
            }
        },
        components: { VTextField }
    }
</script>
